.title-background {
  background-color: #4CAF50;
  padding: 10px;
  margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: white;
    margin: 0;
  }
  
  .form-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .label {
    margin-right: 10px;
  }

  .cep-input {
    margin-right: 5px;
  }

  .pesquisa-button {
    margin-left: 5px;
  }
  
  .input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }

  .input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .button-secondary {
    margin-left: 10px;
  }

  .button:hover {
    background-color: #45a049;
  }
  
  .result-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .result-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .result-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .result-list li {
    margin-bottom: 10px;
  }
  
  .result-list li strong {
    font-weight: bold;
  }

  .result-list li span {
    color: #555;
  }

  .result-list li:nth-child(odd) {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 3px;
  }

  .result-list li:nth-child(even) {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 3px;
  }

  .result-list li:last-child {
    margin-bottom: 0;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }