<h2 class="title">Pesquisa de CEP</h2>

<div class="form-container">
  <label for="cepInput" class="label">CEP:</label>
  <input id="cepInput" type="text" [(ngModel)]="cep" placeholder="Digite o CEP" class="input">
  <button (click)="consultarCep()" class="button">Pesquisar</button>
</div>

<div *ngIf="endereco" class="result-container">
  <h3 class="result-title">Informações do CEP:</h3>
  <ul class="result-list">
    <li><strong>CEP:</strong> {{ endereco.cep }}</li>
    <li><strong>Rua:</strong> {{ endereco.rua }}</li>
    <li><strong>Complemento:</strong> {{ endereco.complemento }}</li>
    <li><strong>Bairro:</strong> {{ endereco.bairro }}</li>
    <li><strong>Cidade:</strong> {{ endereco.cidade }}</li>
    <li><strong>Estado:</strong> {{ endereco.estado }}</li>
    <li><strong>DDD:</strong> {{ endereco.ddd }}</li>
  </ul>
</div>
