<div class="container">
  <div class="title-background">
    <h2 class="title">Pesquisa de Endereço</h2>
  </div>    
    <div class="form-group">
      <label for="estado">Estado:</label>
      <input type="text" id="estado" class="input" [(ngModel)]="estado" (focus)="campoSelecionado('estado')" (blur)="campoDesselecionado('estado')" [ngClass]="{'campo-invalido': !estado && exibirMensagemEstado, 'campo-selecionado': campoSelecionadoId === 'estado'}">
      <span *ngIf="!estado && exibirMensagemEstado" class="campo-obrigatorio">Campo obrigatório</span>
      <label for="cidade">Cidade:</label>
      <input type="text" id="cidade" class="input" [(ngModel)]="cidade" (focus)="campoSelecionado('cidade')" (blur)="campoDesselecionado('cidade')" [ngClass]="{'campo-invalido': !cidade && exibirMensagemCidade, 'campo-selecionado': campoSelecionadoId === 'cidade'}">
      <span *ngIf="!cidade && exibirMensagemCidade" class="campo-obrigatorio">Campo obrigatório</span>
      <label for="logradouro">Logradouro:</label>
      <input type="text" id="logradouro" class="input logradouro-input" [(ngModel)]="logradouro" (focus)="campoSelecionado('logradouro')" (blur)="campoDesselecionado('logradouro')" [ngClass]="{'campo-invalido': !logradouro && exibirMensagemLogradouro, 'campo-selecionado': campoSelecionadoId === 'logradouro'}">
      <span *ngIf="!logradouro && exibirMensagemLogradouro" class="campo-obrigatorio">Campo obrigatório</span>
      <button class="button pesquisa-button" (click)="validarPreenchimento()">
        <i class="fas fa-search"></i> Pesquisar
      </button>
      <button class="button" (click)="pesquisarPorCep()">
        <i class="fas fa-search"></i> Pesquisar por Cep
      </button>
    </div>
  </div>
  
  <div *ngIf="enderecos && enderecos.length > 0 && !erro" class="container">
    <h3 class="sub-title">Resultados da Pesquisa:</h3>
    <div class="filter-container">
      <input type="text" [(ngModel)]="filtro" placeholder="Filtrar rua" class="filter-input">
      <button (click)="aplicarFiltro()" class="button filter-button">Filtrar</button>
      <button (click)="limparFiltro()" class="button filter-button">
        <i class="fas fa-broom"></i>
      </button>
    </div>
    <ul class="address-list">
      <li *ngFor="let endereco of enderecos; let i = index" class="address-item" [ngClass]="{'address-item-even': i % 2 === 0, 'address-item-odd': i % 2 !== 0}">
        <p><strong>CEP:</strong> {{ endereco.cep }}</p>
        <p><strong>Rua:</strong> {{ endereco.rua }}</p>
        <p><strong>Complemento:</strong> {{ endereco.complemento }}</p>
        <p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
        <p><strong>Cidade:</strong> {{ endereco.cidade }}</p>
        <p><strong>Estado:</strong> {{ endereco.estado }}</p>
        <p><strong>DDD:</strong> {{ endereco.ddd }}</p>
      </li>
    </ul>
  </div>

  <div *ngIf="erro" class="error-message">
    Nenhum endereço relacionado foi encontrado! Por favor, tente novamente.
  </div>
  
